<%- include("./public/top.ejs") %>

<body>
  <div class="page" id='user111'>
    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="/login">
        <span class="icon icon-left"></span>
        返回登录
      </a>
    </header>
    <div class="content">
      <div class="content-block">
          <a href="#" class='back'>返回</a> 按钮返回上一页。
      </div>
    </div>
  </div>
</body>