@charset "UTF-8";
body {
  background: #F5F5F5; }

.cz-content {
  background: #FFFFFF;
  color: #333333;
  text-align: center;
  width: 100%;
  font-size: 0.65rem; }
  .cz-content .active {
    border-bottom: 2px solid #FF5655; }
  .cz-content .con-header {
    border-top: 1px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
    height: 2rem; }
    .cz-content .con-header div:nth-child(1) {
      width: 50%;
      float: left; }
    .cz-content .con-header div:nth-child(2) {
      color: #FF5655;
      width: 50%;
      float: right; }
    .cz-content .con-header p {
      line-height: 2rem; }
    .cz-content .con-header span {
      display: inline-block;
      header: 80px; }
  .cz-content .re-list {
    width: 100%;
    height: 7.7rem; }
    .cz-content .re-list .re-li {
      box-sizing: border-box;
      height: 2.9rem;
      border-radius: 5px;
      float: left;
      -moz-box-sizing: border-box;
      /* Firefox */
      -webkit-box-sizing: border-box;
      /* Safari */
      width: 30%;
      margin: 0.7rem 0 -0.125rem 0.45rem;
      border: 1px solid #FF5655;
      float: left;
      text-align: center;
      color: #333333; }
      .cz-content .re-list .re-li p:nth-child(1) {
        font-size: 0.85rem;
        line-height: 1.5rem; }
      .cz-content .re-list .re-li p:nth-child(2) {
        color: #666666;
        font-size: 0.6rem;
        line-height: 0.75rem; }
    .cz-content .re-list div:nth-child(3) {
      margin-right: 0px; }
    .cz-content .re-list div:nth-child(6) {
      margin-right: 0px; }
    .cz-content .re-list .bg-re-li {
      background: #FF5655; }
      .cz-content .re-list .bg-re-li p {
        color: #ffffff !important; }

.num-con {
  background: #FFFFFF;
  margin-top: 0.5rem;
  height: 3rem;
  padding: 0 0.5rem; }
  .num-con p:nth-child(1) {
    float: left;
    width: 85%;
    line-height: 3rem; }
    .num-con p:nth-child(1) input {
      height: 1.25rem;
      width: 100%;
      font-size: 0.85rem;
      border: 0px;
      border-right: 1px solid #e5e5e5; }
  .num-con p:nth-child(2) {
    line-height: 3rem;
    text-align: center;
    float: right;
    width: 15%; }
    .num-con p:nth-child(2) span {
      position: relative;
      height: 2rem;
      width: 2rem; }
      .num-con p:nth-child(2) span:after {
        content: '';
        display: block;
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
        background-size: contain;
        top: 0.75rem;
        right: -0.5rem;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAB/UlEQVRoQ+1Wy1HDMBDd1cE5QgnpgKQCnA7SAfElsk9QAnQAJ1u5OFQAHRAqIHQAHYRjcoiYZeQZj4mxPrYzGeSrtZ/33uqtEE78wxPvHzyAYyvoFfAKODLgR8iRQOdwr4AzhY4JvAKOBDqH/w8FhBArADgLgmASRdHGmbaGBGmazhhj+X6/nyRJQrVrPy0FFIBLAFh3DUIIMQWAJ+q4NQB5np/vdrsPUkFKuYzjOOpChcViMZJSvgDAOQDccc5vm+poKUBJVPKfUeoCRJqmQ8bYm2r+kXM+a2qe/msDOADiIY7jG50iTWeUwsT8CABeOedhU0zx3wgABVVmNEqSZKlbrO5clmVrRLyQUr4PBoPQxCiMAVAThUuoi+YEQghBBFwBwFcQBEOT5o1HqMxgGQQijufz+dpUiSzL7hHxmppHxNAmh5UCRaMl9jaIODFpoKJio9/XkeMEQN2JYgS0QbR5j5wBKBBkr1qLzsbrnTdx02yTDW632xU5yV/b2tbrOwdABaogOOfjcmEXr+8FgLJX2qbkRr+2tYvX9wag7snh6vW9AqiCKBW39vreAahxChljzzROAPCJiFOTPdFkHNZvId3EfZ1rZQ/01eyhOh7AMdl3eo0eu3F/ib0CLTHgXaglIq3TeAWsqWsp0CvQEpHWabwC1tS1FHjyCnwDHef0Md295WsAAAAASUVORK5CYII=); }

.check-con {
  margin-top: 0.95rem;
  color: #FF5655;
  width: 100%;
  font-size: 0.65rem; }
  .check-con .check-btn {
    display: none;
    visibility: hidden; }
  .check-con .check-btn + label {
    color: #F5F5F5; }
  .check-con .check-btn:checked + label {
    color: #FF5655; }
  .check-con span:nth-child(1) {
    position: relative;
    border: 1px solid #FF5655;
    margin-left: 0.5rem;
    width: 0.75rem;
    top: 0.1rem;
    height: 0.75rem;
    text-align: center;
    display: inline-block; }
  .check-con span:nth-child(2) {
    color: #666666; }

.cz-footer {
  position: fixed;
  bottom: 1.25rem;
  width: 100%;
  background: #f5f5f5 !important;
  padding: 0 0.5rem; }
  .cz-footer div {
    text-align: center;
    border-radius: 0.125rem;
    height: 2.25rem;
    width: 92%;
    background: #FF5655;
    color: #FFFFFF;
    font-size: 0.85rem; }
    .cz-footer div p {
      line-height: 2.25rem;
      letter-spacing: 0.2rem; }
    .cz-footer div .ripple {
      position: relative;
      overflow: hidden; }
    .cz-footer div .ripple:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background-image: radial-gradient(circle, #F5F5F5 10%, transparent 10.01%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(10, 10);
      opacity: 0;
      transition: transform .3s, opacity .5s; }
    .cz-footer div .ripple:active:after {
      transform: scale(0, 0);
      opacity: .3;
      transition: 0s; }

/*充值详细css  start*/
.oil_detail > div {
  padding: 0px 0.75rem;
  margin-top: 0.5rem;
  font-size: 0.7rem;
  background: #ffffff;
  text-align: left; }
.oil_detail .det-header {
  margin-top: 0px;
  height: 4.125rem; }
  .oil_detail .det-header p:nth-child(1) {
    height: 2rem;
    color: #999999;
    line-height: 2rem;
    border-bottom: 1px solid #F5F5F5; }
  .oil_detail .det-header p:nth-child(2) {
    height: 2.125rem;
    line-height: 2.125rem;
    color: #333333;
    font-size: 0.75rem;
    font-weight: bold; }
.oil_detail .det-content p:nth-child(1) {
  height: 2rem;
  color: #999999;
  line-height: 2rem;
  border-bottom: 1px solid #F5F5F5; }
.oil_detail .det-content p:nth-child(2) {
  height: 3rem;
  line-height: 3rem;
  color: #FF5655;
  font-size: 0.75rem; }
  .oil_detail .det-content p:nth-child(2) .money-con {
    font-size: 0.9rem; }
  .oil_detail .det-content p:nth-child(2) .money-num {
    font-weight: bold;
    font-size: 1.5rem; }
.oil_detail .det-mind {
  font-size: 0.75rem;
  height: 2.4rem; }
  .oil_detail .det-mind p:nth-child(1) {
    color: #333333;
    font-weight: bold;
    float: left;
    line-height: 2.4rem;
    height: 2.4rem;
    width: 50%; }
  .oil_detail .det-mind p:nth-child(2) {
    line-height: 2.4rem;
    float: right;
    color: #999999;
    text-align: right;
    height: 2.4rem;
    width: 50%; }
    .oil_detail .det-mind p:nth-child(2) span {
      position: relative;
      right: 1.25rem; }
      .oil_detail .det-mind p:nth-child(2) span:after {
        content: '';
        display: block;
        position: absolute;
        width: 1rem;
        height: 1rem;
        background-size: contain;
        top: 0;
        right: -1.25rem;
        background-image: url("/public/image/gengduo.png"); }
.oil_detail .mypay-con > div {
  width: 100%;
  padding: 0px 0;
  font-size: 0.7rem;
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5; }
.oil_detail .mypay-con .mypay-tit {
  height: 2rem;
  color: #999999;
  line-height: 2rem;
  border-bottom: 1px solid #F5F5F5; }
.oil_detail .mypay-con .payli > p {
  line-height: 2rem;
  font-size: 0.9rem;
  height: 2rem; }
  .oil_detail .mypay-con .payli > p:active {
    color: #FF5655; }
  .oil_detail .mypay-con .payli > p:hover {
    color: #FF5655; }
.oil_detail .mypay-con .payli img {
  line-height: 2rem;
  display: inline-block;
  height: 1rem;
  vertical-align: middle;
  width: 1rem; }
.oil_detail .mypay-con .payli span {
  margin-left: 0.25rem;
  width: 84%;
  line-height: 1rem;
  display: inline-block;
  vertical-align: middle; }
.oil_detail .mypay-con .payli .no_select {
  background: url("/public/image/no_select.png") no-repeat center; }
.oil_detail .mypay-con .payli .yes_select {
  background: url("/public/image/yes_select.png") no-repeat center; }
.oil_detail .mypay-con .payli .sel-pay {
  position: relative;
  background-size: contain;
  display: inline-block;
  width: 1.05rem;
  height: 1.05rem; }

/*充值详细css  end*/

/*# sourceMappingURL=style.css.map */
